.no-margin-bottom {
  margin-bottom: 0px !important;
}

.form-layout {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.add-task-wrapper-form-input {
  display: flex;
  gap: 40px;
}

.add_task_txt_format {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}

.input_box_layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 34px;
}

.description-with-star {
  display: flex;
}

.parting_line_grey {
  width: 2px;
  background: #d1d1d1;
}

.input-add-task {
  height: 48px;
  width: 440px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  border-radius: 8px;
  border: solid 1px #d1d1d1;
  padding: 4px 16px;
  margin: 0px;
  overflow: hidden;
  margin-right: 5px;
}

.input-textarea {
  resize: vertical;
  padding: 12px 16px;
}

.input-textarea:active,
.input-textarea:focus,
select:active,
select:focus {
  border: solid 1px #29abe2;
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  height: 56px;
  width: 100%;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select {
  width: 480px;
}

select:focus {
  border-color: #29abe2;
}

.dropDownIcon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #555;
  position: absolute;
  margin-top: 25px;
  margin-left: 438px;
  transition: transform 0.3s ease;
}

.active .dropDownIcon {
  transform: rotate(180deg);
}

.assignedContacts-open {
  width: 470px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border: none;
  z-index: 1000;
  background-color: #ffffff;
  display: none;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 16px;
  height: 70px;
  margin-bottom: 2px;
}

.contact:hover {
  background-color: #e3e3e3;
  border-radius: 10px;
  cursor: pointer;
}

.contact.active {
  color: white;
  border-radius: 10px;
  background-color: #2a3647;
}

.contact-circle-and-name-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdwon-checkbox {
  width: 22px;
  margin-top: 30px;
}

.checked-contact-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checked-contacts-ctn {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
  max-width: 440px;
  flex-wrap: wrap;
}

.circle-wth-initials {
  border-radius: 100%;
}

.icon-calendar {
  height: 20px;
  width: 20px;
  position: absolute;
  margin-top: 50px;
  margin-left: 438px;
}

.prio_box_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
}

.prio-btn-neutral {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prio-btn-neutral:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.urgent-btn-red {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #ff3d00;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.medium-btn-yellow {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #ffa800;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.low-btn-green {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #7ae229;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom-section-ctn {
  display: flex;
  justify-content: space-between;
  width: 1028px;
  margin-top: 80px;
}

.reqiured_txt_format {
  margin-top: 42px;
  font-size: 18px;
}

.clear_create_btn_ctn {
  display: flex;
  gap: 10px;
}

.clear-btn {
  width: 110px;
  height: 56px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: linear-gradient(0deg, #f6f7f8, #f6f7f8);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear-btn span {
  flex-grow: 1;
}

.clear-btn:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.clear-btn:active {
  border: 2px solid #091931;
  color: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.clear-btn:hover .hover-icon {
  filter: invert(32%) sepia(98%) saturate(1276%) hue-rotate(180deg)
    brightness(89%) contrast(89%);
}

.create-task-btn {
  width: 183px;
  height: 56px;
  padding: 16px;
  border-radius: 10px;
  border: 1px;
  gap: 4px;
  background: #2a3647;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.create-task-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.create-task-btn:active {
  background-color: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.create-task-btn-checkmark {
  width: 15.49px;
  height: 11.22px;
}

#vectorboard-pic {
  width: 26px;
  height: 22px;
  margin-left: 14px;
}
