.no-margin-bottom {
  margin-bottom: 0px !important;
}

.form-layout {
  display: flex;
  justify-content: flex-start;
  height: unset;
  width: unset;
  gap: 40px;
  margin-top: 24px;
}

.add_task_txt_format {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}

.input_box_layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 34px;
}

.description-with-star {
  display: flex;
}

.parting_line_grey {
  width: 2px;
  background: #d1d1d1;
}

.input-add-task {
  height: 48px;
  width: 440px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  border-radius: 8px;
  border: solid 1px #d1d1d1;
  padding: 4px 16px;
  margin: 0px;
  overflow: hidden;
  margin-right: 5px;
}

.p-4 {
  padding: 4px 4px !important;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  height: 56px;
  width: 100%;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select {
  width: 480px;
}

select:focus {
  border-color: #29abe2;
}

.dropDownIcon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #555;
  position: absolute;
  margin-top: 25px;
  margin-left: 438px;
}

.active .dropDownIcon {
  transform: rotate(180deg);
}

.assignedContacts-open {
  width: 470px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border: none;
  z-index: 1000;
  background-color: #ffffff;
  display: none;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 16px;
  height: 70px;
  margin-bottom: 2px;
}

.contact:hover {
  background-color: #e3e3e3;
  border-radius: 10px;
}

.contact.active {
  color: white;
  border-radius: 10px;
  background-color: #2a3647; /* Hintergrundfarbe ändern, wenn die Checkbox aktiviert ist */
}

.contact-circle-and-name-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.dropdwon-checkbox {
  width: 22px;
  margin-top: 30px;
}

.checked-contact-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checked-contacts-ctn {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
  width: 480px;
  flex-wrap: wrap;
}

.circle-wth-initials {
  border-radius: 100%;
}

.icon-calendar {
  height: 20px;
  width: 20px;
  position: absolute;
  margin-top: 50px;
  margin-left: 438px;
}

.prio_box_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
}

.prio-btn-neutral {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prio-btn-neutral:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.urgent-btn-red {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #ff3d00;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.medium-btn-yellow {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #ffa800;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.low-btn-green {
  width: 136px;
  height: 56px;
  padding: 16px, 10px, 16px, 10px;
  border-radius: 10px;
  gap: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #7ae229;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input-add-subtask {
  outline: none;
  border: 0px;
}

.input-add-subtask-layout {
  display: flex;
  justify-content: flex-end;
}

.input-subtask-btn-ctn {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  margin-right: 12px;
  width: fit-content;
  gap: 8px;
  background: white;
  width: 79px;
  height: 41px;
}

.subtask-plus-btn {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-image: url(/assets/img/plus-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: white;
  cursor: pointer;
  object-fit: contain;
}

.subtask-plus-btn:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.x-btn {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-image: url(/assets/img/close_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgb(255, 255, 255);
}

.x-btn:hover,
.check-round-btn:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.check-round-btn {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-image: url(/assets/img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding-right: 24px;
}

.check-sub-btn:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.check-square-btn {
  height: 24px;
  width: 24px;
  background-image: url(/assets/img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #caced1;
  cursor: pointer;
}

.check-square-btn:hover {
  cursor: pointer;
}

.small-divider {
  height: 24px;
  background-color: #caced1;
  width: 1px;
}

.input-edit-subtask {
  border: 0;
  background-color: transparent;
  margin-bottom: 0px !important;
}

.subtask-list {
  margin-top: 8px;
  height: 24px;
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 12px;
}

.subtask-list:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.subtask-list-edit-mode {
  background-color: white;
  border-bottom: 2px solid #29abe2;
  border-radius: 0px !important;
  height: 20px !important;
  margin-top: 8px;
  height: 24px;
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.subtask-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}

.delete-btn {
  background-image: url(/assets/img/delete_default.svg);
  border: 0;
  height: 24px;
  width: 34px;
  padding-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.delete-btn:hover,
.confirm-btn:hover {
  cursor: pointer;
}

.white-bg {
  background-color: white !important;
}

.confirm-btn {
  background-image: url(/assets/img/edit_default.svg);
  border: 0;
  height: 24px;
  width: 34px;
  padding-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #caced1;
  cursor: pointer;
}

.bottom-section-ctn {
  display: flex;
  justify-content: space-between;
  width: 1028px;
  margin-top: 80px;
}

.reqiured_txt_format {
  margin-top: 42px;
  font-size: 18px;
}

.clear_create_btn_ctn {
  display: flex; /* Buttons nebeneinander anordnen */
  gap: 10px; /* Abstand zwischen den Buttons */
}

.clear-btn {
  width: 110px;
  height: 56px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: linear-gradient(0deg, #f6f7f8, #f6f7f8);
  font-size: 20px;
  cursor: pointer;
  display: flex; /* Um zu verhindern, dass das Bild den Textinhalt verschiebt */
  align-items: center; /* Zentrieren Sie den Text und das Bild vertikal */
  justify-content: space-between; /* Platziert den Text auf der linken Seite und das Bild auf der rechten Seite */
}

.clear-btn span {
  flex-grow: 1; /* Lässt den Text den verfügbaren Platz einnehmen */
}

.clear-btn:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.clear-btn:active {
  border: 2px solid #091931;
  color: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.clear-btn:hover .hover-icon {
  filter: invert(32%) sepia(98%) saturate(1276%) hue-rotate(180deg)
    brightness(89%) contrast(89%);
}

.create-task-btn {
  width: 183px;
  height: 56px;
  padding: 16px;
  border-radius: 10px;
  border: 1px;
  gap: 4px;
  background: #2a3647;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.create-task-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.create-task-btn:active {
  background-color: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.create-task-btn-checkmark {
  width: 15.49px;
  height: 11.22px;
}


#vectorboard-pic {
  width: 26px;
  height: 22px;
  margin-left: 14px;
}

@media (max-width: 1121px) {
  .form-layout {
    flex-wrap: wrap;
  }

  .parting_line_grey {
    display: none;
  }

  .bottom-section-ctn {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 32px;
    margin-top: 20px;
    padding: 16px;
    width: 85%;
  }

  .clear-btn {
    display: none;
  }
}

@media (max-width: 565px) {
  .bottom-section-ctn {
    position: fixed;
    bottom: 80px;
    width: 90%;
    z-index: 5;
    background-color: #f6f7f8;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 10;
  }

  .reqiured_txt_format {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}

@media (max-width: 490px) {
  .bottom-section-ctn {
    position: fixed;
    bottom: 80px;
    width: 95%;
    z-index: 5;
    background-color: #f6f7f8;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
    margin-top: 20px;
    padding-right: 10;
  }

  .reqiured_txt_format {
    font-size: 16px;
  }

  .input-add-task {
    width: 400px;
  }

  .input_box_layout {
    width: 400px;
  }

  .prio_box_layout {
    width: 435px;
  }

  .select.dropdown_list {
    width: 380px;
  }

  .responsive-heigth {
    height: 300px;
  }

  .custom-select {
    width: 435px;
  }
}

@media (max-width: 395px) {
  .bottom-section-ctn {
    position: fixed;
    bottom: 80px;
    width: 90%;
    z-index: 5;
    background-color: #f6f7f8;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
    margin-top: 20px;
  }

  .reqiured_txt_format {
    font-size: 13px;
  }

  .input-add-task {
    width: 300px;
  }

  .input_box_layout {
    width: 300px;
  }

  .prio_box_layout {
    width: 435px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .responsive-prio-btn {
    height: 40px;
    width: 330px;
  }

  .select.dropdown_list {
    width: 380px;
  }

  .responsive-heigth {
    height: 300px;
  }

  /*category*/
  .custom-select {
    width: 335px;
  }
}
