.form-layout {
    margin-top: 32px;
    height: 440px;
    width: 800px;   
}

.add_task_txt_forma {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.input_box_layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 8px;
}

.description-with-star {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.parting_line_grey {
  height: 424px;
  width: 2px; 
  background: #D1D1D1;
}

.resizable {
    resize: vertical;
}

select {
    width: 440px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 10px;
    border: 1px;
    content: space-between;
    font-size: 20px;
}

option {
    width: 440px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border: 1px solid ;
}

.custom-select {
    min-width: 364px;
    height: 48px;
    position: relative;
  }
  
  select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
 
  /*Arrow design */
  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 45%;
  }

  .prio_box_layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .urgent-btn {
    width: 136px;
    height: 56px;
    padding: 16px, 10px, 16px, 10px;
    border-radius: 10px;
    gap: 8px;
    border: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
  }