.animate-logo {
  animation: logo_animation 0.75s ease-in-out 0.25s forwards;
}

.animate-helper {
  animation: logo_animation 0.75s ease-in-out 0.25s forwards;
}

@keyframes logo_animation {
  0% {
    width: 80%;
    height: 80%;
  }

  100% {
    width: 101px;
    height: 122px;
  }
}

@keyframes start-animations-helper_animation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.d-none {
  display: none;
}


@keyframes logo_animation_responsive {
  0% {
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%) translate(0%, 0%);
    opacity: 1;
  }
  100% {
    width: 64px;
    height: 78px;
    transform: translate(-50%, -50%) translate(-100%, -100%);
    opacity: 0;
  }
}
