.headline-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-board-right {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.ctn-search-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
}

.input-search-task {
  margin-bottom: 0;
  width: unset;
  border: none;
  /* padding-right: 32px;
    background: url(../assets/img/search_db.svg);
    background-repeat: no-repeat;
    background-position: right; */
}

.input-search-task:hover {
  cursor: pointer;
}

.search-task-right {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 16px;
  margin-right: 16px;
}

.ctn-search-task-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ctn-search-task-icon:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.btn-add-task-db {
  height: 32px;
  border-radius: 10px !important;
  padding: 8px 16px !important;
  gap: 4px;
}

.ctn-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.ctn-board-wrapper-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.ctn-board-status {
  min-width: 246px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 48px;
}

.ctn-board-status-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
  margin-bottom: 16px;
}

.icon-plus-square {
  width: 24px;
  height: 24px;
}

.icon-plus-square:hover {
  cursor: pointer;
}

.ctn-board-status-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding-bottom: 80px;
}

.empty-status {
  height: 48px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  align-items: center;
  background-color: #e7e7e7;
  color: #a8a8a8;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  box-shadow: 0 0 4 #00000029;
}

.ctn-tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 24px;
  gap: 16px;
}

.card-task-small {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border-radius: 24px;
  gap: 24px;
  box-shadow: 0px 0px 10px 3px #00000014;
  transition: 75ms;
}

.card-task-small:hover {
  cursor: pointer;
}

.card-category-small {
  width: fit-content;
  background-color: #0038ff;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  border-radius: 8px;
}

.ctn-card-text-small {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 8px;
}

.card-title-small {
  color: #2a3647;
  font-size: 16px;
  font-weight: 700;
}

.card-description-small {
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
}

.ctn-card-subtasks-small {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ctn-card-progress-bar-small {
  height: 8px;
  flex: 1;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.card-progress-bar-small {
  height: 8px;
  width: 50%;
  background-color: #4589ff;
  border-radius: 8px;
}

.card-span-subtasks-small {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.ctn-card-user-prio-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctn-card-assigned-users-small {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-assigned-user-small {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #ff7a00;
  color: white;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-left: -8px;
}

.card-assigned-user-small:first-of-type {
  margin-left: 0;
}

.img-card-priority-small {
  width: 20px;
  height: 20px;
}

.overlay-board {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: #00000025;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn-task-detail {
  width: 525px;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 20px;
  padding: 48px 40px;
  border-radius: 30px;
  gap: 24px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.ctn-task-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-detail-category {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0038ff;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 400;
  padding: 4px 24px;
  border-radius: 8px;
}

.task-detail-close {
  width: 13.15px;
  height: 13.15px;
}

.ctn-task-detail-close {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ctn-task-detail-close:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.color-bg {
  color: #2a3647;
}

.ctn-task-detail-date,
.ctn-task-detail-priority {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ctn-task-detail-date span,
.ctn-task-detail-priority span {
  width: 128px;
}

.ctn-task-detail-priority-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ctn-task-detail-assigned-users {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ctn-task-detail-single-assigned-user {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  gap: 16px;
}

.task-detail-assigned-user-acronym {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #1fd7c1;
  color: white;
  border-radius: 50%;
}

.task-detail-assigned-user-name {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

.ctn-task-detail-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ctn-task-detail-single-subtask {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  gap: 16px;
}

.task-detail-checkbox {
  width: 20px;
  height: 20px;
}

.ctn-task-detail-edit-delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.ctn-task-detail-edit-delete-single {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px
}

.ctn-task-detail-edit-delete-single:hover {
  color: #29ABE2;
  font-weight: bold;
}

.ctn-task-detail-edit-delete-single img {
  height: 18px;
}

.task-detail-separator-edit {
  height: 24px;
  border: 1px solid #D1D1D1
}


/* **** RESPONSIVE DESIGN **** */

@media (max-width: 1150px) {

  .headline-board {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .btn-add-task-db {
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
  }

}

@media (max-width: 920px) {

  .btn-add-task-db {
   padding: 3px !important;
  }

  .btn-add-task-db span {
    display: none;
  }

}

@media (max-width: 600px) {

  .headline-status {
    font-size: 27px; 
  }

}