@media (max-width: 1275px) {
  .body-contacts {
    --width-contacts-overview: 400px;
  }

  .wrapper-contact-list {
    margin-left: 0;
  }

  .contact-list-single-contact {
    padding: 15px 16px;
    gap: 24px;
  }

  .headline-contacts {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .headline-contacts h1 {
    font-size: 47px;
  }

  .headline-contacts span {
    font-size: 20px;
  }

  .headline-separator {
    height: 3px;
    width: 90px;
    order: 1;
  }

  .wrapper-contact-details {
    margin-top: 48px;
  }

  .ctn-contacts-details-name {
    gap: 28px;
  }

  .contacts-detail-acronym {
    width: 100px;
    height: 100px;
    font-size: 36px;
  }

  .contacts-detail-name {
    font-size: 36px;
    font-weight: 700;
  }

  .contacts-detail-subheadline {
    margin-top: 59px;
    margin-bottom: 32px;
  }
}

@media (max-width: 1120px) {
  .contacts-detail-acronym {
    width: 80px;
    height: 80px;
    font-size: 27px;
    font-weight: 400;
  }

  .ctn-contacts-details-name {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

@media (max-width: 975px) {
  .ctn-contacts-details-name {
    flex-direction: row;
    align-items: center;
  }

  .bg-contact-list {
    right: 0;
    width: unset;
  }

  .ctn-contacts-detail-edit-delete {
    display: none;
  }

  .ctn-btn-contact-list {
    display: none;
  }

  .btn-contact-mobile {
    display: flex;
  }
}

@media (max-width: 784px) {
  .wrapper-contact-list {
    padding: 8px 24px;
  }

  .ctn-contacts-details-name {
    flex-direction: row;
    align-items: center;
  }

  .contacts-detail-name {
    font-size: 32px;
  }

  .bg-contact-list {
    left: 0;
    right: 0;
    width: unset;
  }

  .btn-contact-mobile {
    bottom: 104px;
  }

  .ctn-contacts-submenu {
    bottom: 96px;
  }
}

@media (max-width: 400px) {
  .wrapper-contact-list {
    padding: 8px 12px;
  }

  .contact-list-initial-letter {
    padding: 12px 24px;
  }

  .contact-list-single-contact {
    padding: 15px 8px;
    gap: 16px;
  }

  .ctn-contact-list {
    overflow-x: auto;
  }

  .contact-list-single-contact-name {
    font-size: 18px;
  }

  .contact-list-single-contact-mail {
    font-size: 13px;
  }

  .contacts-detail-acronym {
    width: 64px;
    height: 64px;
    font-size: 24px;
    font-weight: 400;
  }

  .contacts-detail-name {
    font-size: 28px;
  }
}
