.wrapper {
  position: relative;
}

.start-animations-helper {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: white !important;
  z-index: 998;
}

.start-animations-helper-responsive {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: #2a3647 !important;
  z-index: 998 !important;
}

.ctn-login {
  border: unset !important;
  border-radius: 30px !important;
  background-color: #ffffff !important;
  width: 652px;
  height: 493px;
  min-width: 400px !important;
  max-width: 540px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  margin-top: 50px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04) !important;
}

.logo-login {
  position: fixed !important;
  top: 80px !important;
  left: 77px !important;
  z-index: 999 !important;
  width: 101px;
  height: 122px;
}

.logo-light {
  position: fixed;
  top: 80px !important;
  left: 77px !important;
  z-index: 1000 !important;
}

.arrow-sign-up {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 54px;
  left: 40px;
}

.successfullyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 1000 !important;
  position: absolute !important;
  bottom: 390px !important;
  left: calc(50% - 326px / 2) !important;
  background: #2a3647 !important;
  color: white !important;
  border: none !important;
  border-radius: 10px !important;
  width: 293px !important;
  height: 64px !important;
  animation: slide-in 0.5s ease, slide-out 0.5s ease 2s forwards;
}

input:focus {
  border-color: #ff0000;
}

.sep-login {
  width: 120px;
  height: 3px;
  background-color: #29abe2;
  margin-top: 8px;
  margin-bottom: 32px;
}

.header-login {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 1240px;
}

.ctn-no-user {
  position: absolute;
  top: 33px;
  right: 96px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.span-no-user {
  font-size: 20px;
  padding-right: 24px;
}

.ctn-btn-login {
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
}

.ctn-rem-me {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.ctn-no-user-sub {
  display: none;
}

.link-privacy {
  color: #29abe2;
}

.link-privacy:hover {
  text-decoration: underline;
}

.ft-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
}

.links-in-footer {
  width: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
  font-size: 16px;
  font-family: "Inter";
}

.links-in-footer:hover {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #29abe2;
}

.signUp-button {
  border: unset !important;
  border-radius: 8px !important;
  background-color: #2a3647 !important;
  color: #ffffff !important;
  font-family: "Inter", sans-serif !important;
  font-size: 21px;
  font-weight: 700 !important;
  padding: 15px 16px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
}

.logIn-button {
  border: unset !important;
  border-radius: 8px !important;
  background-color: #2a3647 !important;
  color: #ffffff !important;
  font-family: "Inter", sans-serif !important;
  font-size: 21px;
  font-weight: 700 !important;
  padding: 12px 16px;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  cursor: pointer !important;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.links-footer {
  display: flex !important;
  gap: 8px !important;
}

.z-index0 {
  z-index: 0 !important;
}

/* **** RESPONSIVE DESIGN **** */

@media (max-width: 760px) {
  .logo-login {
    top: 5px !important;
    left: 38px !important;
    width: 64px !important;
  }

  .ctn-login {
    width: 405px !important;
    height: 515px !important;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .ctn-btn-login {
    flex-direction: column;
    align-items: center;
  }

  .signUp-button {
    padding: 8px 6px !important;
    width: 104px !important;
  }

  .logIn-button {
    width: 180px !important;
    height: 51px !important;
  }

  .btn-outline {
    width: 180px !important;
    height: 51px !important;
  }

  .signUp-button a {
    width: 95px;
    line-height: 19px !important;
    font-size: 16px !important;
  }

  .ctn-no-user {
    display: none !important;
  }

  .span-no-user {
    font-size: 17px;
  }

  .mobile-frame-signUp {
    display: flex !important;
    align-items: center;
    margin-bottom: -3px;
  }

  .ft-login {
    flex-direction: column;
    gap: 28px;
  }

  .links-in-footer {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .links-in-footer:hover {
    font-weight: 400 !important;
    color: #a8a8a8;
  }

  .btn-outline:hover {
    border-color: initial !important;
    color: #2a3647 !important;
    box-shadow: initial !important;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 428px) {
  .logo-join {
    display: none;
  }
  .start-animations-helper {
    background-color: #2a3647;
  }

  .logo-light {
    display: block;
  }
}

@media (max-width: 400px) {
  .ctn-login {
    width: 320px !important;
    min-width: 320px !important;
  }

  .if-button-disabled {
    padding: 6px 0 !important;
    font-size: 16px !important;
  }

  .arrow-sign-up {
    left: 16px;
  }
}
