@media (max-width: 774px) {
  .ctn-content-help {
    padding-bottom: 10px;
  }
  .headline-help-legal-privacy {
    justify-content: center;
  }
}
@media (max-width: 335px) {
  .logo-header{
    position: absolute;
    top: 22px;
    left: 8px;
}
  .ctn-content {
    left: 5px;
    margin-right: 0px !important;
  }
  .ctn-arrow-return {
    position: absolute;
    right: 37px;
    top: -5px;
  }
  body {
    --margin-left-content: 0px !important;
    --margin-right-content: 0px !important;
  }
  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
    
  }
  h3 {
    font-size: 14px;
    text-align: center;
  }
}
