<a class="logo-sidebar" href="index.html"
  ><img class="img-logo-sidebar" src="./assets/img/logo_light.svg"
/></a>
<nav>
  <a class="tab-selected" href="summary.html"
    ><img class="nav-icon" src="./assets/img/summary_white.svg" />Summary</a
  >
  <a href="add_task.html"
    ><img class="nav-icon" src="./assets/img/add_task.svg" />Add Task</a
  >
  <a href="board.html"
    ><img class="nav-icon" src="./assets/img/board.svg" />Board</a
  >
  <a href="contact.html"
    ><img class="nav-icon" src="./assets/img/contacts.svg" />Contacts</a
  >
</nav>
<div class="ctn-sidebar-legal">
  <a href="privacy.html">Privacy Policy</a>
  <a href="legal.html">Legal notice</a>
</div>
