<a class="logo-sidebar" href="index.html"><img class="img-logo-sidebar" src="./assets/img/logo_light.svg" /></a>

<div id="allNavElements">
  <nav id="navBar" class="d-none">
    <a href="summary.html" id="tab-summary"><img class="nav-icon" id="img-tab-summary"
        src="./assets/img/summary_grey.svg" />Summary</a>
    <a href="add_task.html" id="tab-add-task"><img class="nav-icon" id="img-tab-add-task"
        src="./assets/img/add_task_grey.svg" />Add Task</a>
    <a href="board.html" id="tab-board"><img class="nav-icon" id="img-tab-board"
        src="./assets/img/board_grey.svg" />Board</a>
    <a href="contact.html" id="tab-contacts"><img class="nav-icon" id="img-tab-contacts"
        src="./assets/img/contacts_grey.svg" />Contacts</a>
  </nav>
  <div class="ctn-sidebar-legal">
    <a href="privacy.html" id="privacy-link">Privacy Policy</a>
    <a href="legal.html" id="legal-link">Legal notice</a>
  </div>
</div>